<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hbdiye.lechuangsmart">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.TRANSMIT_IR" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="uN75T3WNHZEzvAlAFeDDMstDszNwGjkZ" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".MainActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ForgetPasswordActivityActivity" />
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FamilyNameActivity" />
        <activity android:name=".activity.FamilyMemberActivity" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.VersionActivity" />
        <activity android:name=".activity.WiFiActivity" />
        <activity android:name=".activity.FamilyManagerActivity" />
        <activity android:name=".activity.EditPswActivity" />
        <activity android:name=".activity.AnFangActivity" />
        <activity android:name=".activity.ZhaoMingActivity" />
        <activity android:name=".activity.ChuangLianActivity" />
        <activity android:name=".activity.ChuanganqiActivity" />
        <activity android:name=".activity.FangjianActivity" />
        <activity android:name=".activity.KaiguanActivity" />
        <activity android:name=".activity.YaokongqiActivity" />
        <activity android:name=".activity.SceneSettingActivity" />
        <activity android:name=".google.zxing.activity.CaptureActivity" />
        <activity android:name=".activity.LinkageSettingActivity" />
        <activity android:name=".activity.TimeTriggeredActivity" />
        <activity android:name=".activity.DeviceTriggeredActivity" />

        <service
            android:name=".service.WebSocketService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.RoomActivity" />
        <activity android:name=".activity.YaoKongListActivity" />
        <activity android:name=".activity.KongTiaoActivity" />
        <activity android:name=".activity.DianShiActivity"></activity>
    </application>

</manifest>