<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hbdiye.lechuangsmart">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.TRANSMIT_IR" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:name=".MyApp"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="uN75T3WNHZEzvAlAFeDDMstDszNwGjkZ" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgetPasswordActivityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FamilyNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FamilyMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VersionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WiFiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FamilyManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditPswActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AnFangActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ZhaoMingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChuangLianActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChuanganqiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FangjianActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.KaiguanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.YaokongqiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SceneSettingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".google.zxing.activity.CaptureActivity" />
        <activity
            android:name=".activity.LinkageSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TimeTriggeredActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DeviceTriggeredActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.WebSocketService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.RoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.YaoKongListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.KongTiaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DianShiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HWDeviceListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PicTVYaoKongActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.SmartBoxActivity" />
        <activity android:name=".activity.PicKTYaoKongActivity" />
        <activity android:name=".activity.JDHActivity" />
        <activity android:name=".activity.TYYActivity" />
        <activity android:name=".activity.GFActivity" />
        <activity android:name=".activity.FSActivity" />
        <activity android:name=".activity.DFActivity" />
        <activity android:name=".activity.DVDActivity" />
        <activity android:name=".activity.KQjhqActivity" />
        <activity android:name=".activity.AddSceneActivity" />
        <activity android:name=".activity.ScenePanelActivity" />

        <!-- //摄像头 -->
        <activity
            android:name="com.videogo.main.EzvizWebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".receiver.EzvizBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.videogo.action.OAUTH_SUCCESS_ACTION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.CameraListActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.AddCameraActivity" />
        <activity
            android:name=".activity.EZRealPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.AutoWifiPrepareStepOneActivity" />
        <activity android:name=".activity.AutoWifiNetConfigActivityActivity" />
        <activity android:name=".activity.SeriesNumSearchActivity" />
        <activity
            android:name=".devicelist.AutoWifiConnectingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".devicelist.AutoWifiPrepareStepOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".devicelist.AutoWifiNetConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".devicelist.AutoWifiResetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".devicelist.APWifiConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".remoteplayback.list.PlayBackListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".devicemgt.EZDeviceSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".devicemgt.ModifyDeviceNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.EZMessageActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.EZMessageImageActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.remoteplayback.EZRemotePlayBackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.YiLiaoActivity" />
        <activity android:name=".activity.TiZhiActivity" />
        <activity android:name=".activity.InfraredActivity" />
        <activity android:name=".activity.TiwenActivity" />
        <activity android:name=".activity.TizhongActivity" />
        <activity android:name=".activity.XuetangActivity" />
        <activity android:name=".activity.XueyaActivity" />
        <activity android:name=".activity.ZuWangActivity" />
        <activity android:name=".activity.RemoteDeviceListActivity" />
        <activity android:name=".activity.DeviceListActivity"></activity>
        <activity android:name=".activity.IrDianShiActivity"/>
    </application>

</manifest>